* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 117px;
  gap: 10px;
}

.logo-container h1 {
  color: #0b132a;
  font-size: 20px;
  font-weight: 500;
}

nav {
  display: flex;
  margin-right: 153px;
  gap: 37px;
}

nav a {
  color: #4f5665;
  font-size: 16px;
}

.login-container {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.login-container :first-child {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 45px;
}

.login-container :last-child {
  background-color: #fff;
  border: 1px solid #f53838;
  border-radius: 50px;
  width: 150px;
  height: 45px;
  color: #f53838;
}

main {
}

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 89px;
  gap: 40px;
}

.section-container {
  width: 555px;
}

.section-container h2 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 28px;
}

.section-container p {
  font-size: 16px;
  margin-top: 20px;
  color: #4f5665;
}

.section-about button {
  border: none;
  background-color: #f53838;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 6px 20px 20px 1px rgba(245, 56, 56, 0.35);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.section-articles {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 102px;
  height: 200px;
  box-shadow: 20px 20px 20px 0px rgba(2, 2, 2, 0.35);
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

.section-articles article:last-child {
  display: flex;
  gap: 36px;
  border-right: none;
}

.section-articles article {
  display: flex;
  gap: 36px;
  border-right: 2px solid rgba(238, 239, 242, 1);
}

.section-articles div {
  margin-right: 130px;
}

.section-articles img {
  margin-left: 92px;
}

.section-articles h1 {
  font-size: 25px;
  font-weight: 700;
  color: #0b132a;
}

.section-articles h2 {
  font-size: 20px;
  font-weight: 400;
  color: #4f5665;
}

.section-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
  margin: 96px 150px 0 185px;
}

.section-features h1 {
  font-size: 35px;
  font-weight: 500px;
}

.section-features p {
  font-size: 16px;
  font-weight: 400px;
  color: #4f5665;
  margin-top: 20px;
}

.section-features .list p {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
}

.section-features .list img {
  display: flex;
}

.section-plan {
  background-color: #fbfbfb;
  margin-top: 120px;
}

.section-plan .title {
  padding-top: 80px;
}

.section-plan h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold 500;
  margin-top: 80px;
}

.section-plan h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  margin-top: 20px;
}

.section-plan .articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section-plan article {
  width: 330px;
  height: 760px;
  border: 2px solid #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  border-radius: 10px;
}

.section-plan .img-box {
  margin-top: 80px;
}

.section-plan article h2 {
  margin-top: 30px;
}

.section-plan article .paragrafo {
  margin-top: 30px;
  height: 190px;
}
.section-plan article .paragrafo p {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  color: #4f5665;
  font-weight: 400;
}
.section-plan article .paragrafo img {
  margin-right: 20px;
}
.section-plan article h1 {
  font-size: 25px;
  font-weight: 500;
  color: #0b132a;
}

.section-plan button {
  width: 177.88px;
  height: 62px;
  margin: 20px 0 50px 0;
  left: 1011.06px;
  border: none;
  background-color: #f53838;
  border-radius: 50px;
  box-shadow: 5px 4px 20px 0px rgba(245, 56, 56, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.section-network {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  background-color: #fbfbfb;
}

.section-plan .title {
  padding-top: 80px;
}

.section-network h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.section-network h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  margin-top: 20px;
}

.section-network img {
  margin-top: 156px;
}

.section-network .sponsored {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 160px 0 145px;
}

.section-customer {
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-customer h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 50px;
}

.section-customer h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4f5665;
  margin-top: 20px;
}

.section-customer .carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50PX;
}

.section-customer .carrossel-item {
  width: 400px;
  height: 230px;
  border: 2px solid #f53838;
  padding: 30px;
  border-radius: 10px;
  margin-top: 60px;
}

.section-customer .comment {
  display: flex;
  align-items: center;
  
}

.section-customer .person{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 108px;
}

.section-customer .comment p{
  font-size: 16px;
  font-weight: 400;
  color: #0b132a;
  margin-right: 10px;
}

.section-customer .carrossel-item p{
  font-size: 16px;
  font-weight: 400;
  color: #0b132a;
  margin-top: 20px;
}
